.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #36bbd9;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #36bbd9;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #36bbd9;
}
.content {
    padding: 25px;
}

body {
    display: flex;

    justify-content: content;
    align-items: content;
}
.wrapper {
    flex-direction: row;
    min-height: auto;
    gap: 30px;
}
.box {
    margin-bottom: 0;
    width: fit-content;
    min-width: 400px;
}
.content {
    justify-content: start;
    align-items: flex-start;
}
.status {
    width: 100%;

    text-align: center;
    display: flex;
    justify-content: center;
}
.wrapper .box:nth-child(2) {
    min-width: 800px;
    padding: 20px;
}
.wrapper .box:nth-child(2) .content {
    max-height: 500px;
    overflow: auto;
}
td {
    text-align: left;
}
